*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    --color1: #FFF ;
    --color2: #181818 ;
}


    .nav-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        position: relative;
        background-color: var(--color2);
        padding: 12px 20px;
    }
    .logo img {width: 40px;}

    
    
    .open-menu , .close-menu {
        position: absolute;
        color: var(--color1);
        cursor: pointer;
        font-size: 1.5rem;
    }
    


    .open-menu {
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
    .close-menu {
        top: 20px;
        right: 20px;
    }
    #check {display: none;}
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }
   
    #check:checked ~ .menu {right: 0;}

